<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
        <title>Login</title>
        
        <!-- CSS  -->
    <link href="css/style 1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
    <h1 class="dispaly-2"></h1>
    <form>
        <h1>Login</h1>
        <input placeholder="Username" type="text" required="">
        <input placeholder="Password" type="password" required="">
        <button><a href="recipe%20details.html">Login</a></button>

        <p class="change_link" align="center"> Not yet a member, please
        <a href="signup.html" class="Login">Join</a>
        </p>
    </form>
    <div style="height:100px"></div>
    </body>
</html>