	<!DOCTYPE html>
	<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	  <title>Top recipes</title>

	  <!-- CSS  -->
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
	  <nav class="orange lighten-1" role="navigation">
	      <ul class="right hide-on-med-and-down">
	      	<li><a href="recipe%20details.html">Home</a></li>
	        <li><a href="favorite%20recipe.html">Favorite</a></li>
        	<li><a href="User%20profile.html">Profile</a></li>
	      </ul>

	      <ul id="nav-mobile" class="side-nav">
	        <li><a href="recipe%20details.html">Home</a></li>
	        <li><a href="favorite%20recipe.html">Favorite</a></li>
        	<li><a href="User%20profile.html">Profile</a></li>
	      </ul>
	      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	    </div>
	  </nav>
	  <div class="section no-pad-bot" id="index-banner">
	    <div class="container">
	      <br><br>
	      <h1 class="header center orange-text">Top recipes</h1>
	      <br>
	      <!-- The search box -->
	        <div class="container-full">
		<nav>
	    <div class="nav-wrapper">
	      <form>
	        <div class="input-field">
	          <input id="search" type="search" required>
	          <label for="search"><i class="material-icons">search</i></label>
	          <!-- I've put "red-text" class to emphasize -->
	          <i class="material-icons white-text">close</i>
	        </div>
	      </form>
	    </div>
	  </nav>
	</div>
	      
	      <br><br>

	    </div>
	  </div>


	  <div class="container">
	    <div class="section">

	      <!--   Icon Section   -->
	      <div class="row">
	        <div class="col s12 m4">
	          <div class="img-block">
	            <img src="images/the_perfect_pbj.jpg" height="250" width="300" class="img-fluid" alt="Sample photo">
	            <h5 class="center">Peanut butter and Jelly sandwich</h5>

	            <p class="light">Peanut butter and Jelly sandwich is one of the most favorite sandwich in town. It has the perfect balance of ingredients and looks great when made right.</p>
	            <button type="button" class="btn btn-default waves-effect waves-light orange">Add recipe</button>
	          </div>
	        </div>

	        <div class="row">
	        <div class="col s12 m4">
	          <div class="img-block">
	            <img src="images/salad_caprese.jpg" height="250" width="300" class="img-fluid" alt="Sample photo">
	            <h5 class="center">Simple Caprese salad</h5>

	            <p class="light">Traditionally, the caprese salad calls for sliced tomatoes and slices of mozzarella. This version uses cherry tomatoes, and either mozzarella balls or small cubes of the cheese which gives you an enjoyable salad.</p>
	            <button type="button" class="btn btn-default waves-effect waves-light orange">Add recipe</button>
	          </div>
	        </div>
	  </div>

	  <br>

	  <p>
        <ul class="pagination">
    		<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
      </p>

	  <br><br>

	  <footer class="page-footer orange">
	    <div class="container">
	      <div class="row">
	        
	          <h5 class="white-text">Company Bio</h5>
	          <p class="grey-text text-lighten-4">Food.com, is a modern food recipe and an active social network of home cooks who connect and share recipes, photos, cooking tips and food trends in real time.</p>

	    <div class="footer-copyright">
	      <div class="container" class="left">
	      <em>for:</em><a class="orange-text text-lighten-3" href=recipe%20details.html> More recipes project</a>
	      </div>
	    </div>
	  </footer>

	  <!--  Scripts-->
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="js/materialize.js"></script>
	  <script src="js/init.js"></script>

	  </body>
	</html>
